**/bin/*
**/lib/*
**/obj/*
*.swp
*.suo
**/packages/*
*~

/native/include/
/data/
/cache/
/nuget/
notes.txt
/tests/pretrained/
/setup/protogen/
**/.vs/*
tests/pretrained/
setup/protogen/
pretrained/
protobuf/protoc-3.11.4-win64/
src/chkpt/
src/data/
