**/bin/*
**/lib/*
**/obj/*
*.swp
*.suo
**/packages/*
*~

data/
cache/
nuget/
notes.txt
tests/pretrained/
setup/protogen/
Tensorflow_FSharp/Tensorflow.FSharp.XML
Tensorflow_FSharp/.vs/config/applicationhost.config
